@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/*  default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
  background-color: hsl(205, 26%, 17%);
  color: #fff;
  justify-content: center;
}
/*  Display size   */
.max-width{
  max-width: 1440px;
    margin: 0 auto; 
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(210, 22%, 22%);
  padding: 10px 20px;
  margin-top: -20px;
  width: 100%;
}

/* Filter section */
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .filter .form-control {
    width: 100%;
  }

  .filter .form-control input {
    border: none;
    outline: none;
    background-color: hsl(210, 22%, 22%);
    border-radius: 5px;
    padding: 12px;
    color: #fff;
    font-family: inherit;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 0 0 30px;
  }

  .filter .region-filter {
    width: 100%;
  }

  .filter .region-filter .select {
    background-color: #2b3743;
    color: #fff;
    border: none;
    width: 200px;
    padding: 12px;
    border-radius: 5px;
  }

  .filter .form-control input::placeholder {
    color: #ffffff;
  }

 /* Countries data*/
 
.allCountryDiv {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
  /* max-width: 1440px; */
  width: 100%;
  margin-top: 20px;
}

 .allCountryDiv article {
  box-shadow: 0 10px 10px rgba(9, 15, 37, 0.5);
}

.allCountryDiv article img {
  border-radius: 5px 5px 0 0;
  height: 200px;
}

.allCountryDiv .details {
  background-color: #2b3743;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}

.allCountryDiv .details h3 {
  padding-bottom: 5px;
}

.allCountryDiv .details h4 {
  padding-bottom: 10px;
}

.allCountryDiv .details h4 span {
  font-weight: 300;
} 

@media (min-width: 375px) {
  .allCountryDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .allCountryDiv article img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .allCountryDiv {
    grid-template-columns: repeat(2, 2fr);
  }
  .allCountryDiv article img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .allCountryDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .header,
  .filter,
  .allCountryDiv {
    padding: 20px;
  }

  .filter {
    flex-direction: row;
  }

  .filter .form-control {
    width: auto;
  }

  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .region-filter {
    width: auto;
  }
} 



@media (min-width: 1440px) {
  .allCountryDiv {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}

.countryCard {
  display: grid;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}  
